@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Welcome</h2>
    <p>
        Contoso University is a low-cost, online solution for high-end education. Here, you can manage everything you need to from your desktop or mobile phone.
    </p>
</div>
<div class="row">
    <img src="college-setting.jpg" alt="Cool kids sitting around using their cool computers for college.">
</div>
